<tr>
    <td class="fb-events-sc-date">{{ date }}</td>
    <td>
        <table>
            <tr>
                <td><a href="{{ link }}" target="_blank">{{ title }}</a></td>
            </tr>
        </table>
    </td>
</tr>